h3 
{
	color:white;
}

h1 
{
	text-align:center;
}

h2 
{
	text-align:center;
	margin-top:100px;
	color:yellow;
}

#item 
{
	width:100% !important;
}

#item h2 
{
	text-align:center;
}

#buttonsDiv 
{
	height:125px !important;
	width: 100% !important;
}

#buttonsDiv button 
{
	display: inline;
	height:100% !important;
	width: 200px !important;
	font-size:50px;
	z-index:5;
}

#noButton 
{
	float:right;
}

#formGroup 
{
	width:50%;
	margin-left:25%;
	margin-top:15%;
}

#formButton 
{
	width:50%;
	margin-left:25%;
}

#noFolderForm 
{
	position: fixed; /* Sit on top of the page content */	
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,1); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

#caption 
{
	text-align:center;
}

#loadScreen {
	position: fixed; /* Sit on top of the page content */	
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
	z-index:5;	
}

#loadScreen h1 {
	padding-top:400px;
	background-color: rgba(0,0,0,1);
}

.center {
	padding-top:75px;
	display: block;
    margin: 0 auto;
}

.invisible {
	display : none !important;
}

.frame {
	width: 450px;
	height: 650px;
	border: 3px solid #ccc;
	background: #eee; 
	margin: auto;
	padding: 15px 25px;
}

#loadScreen {
	display:block;
	background:black;
	z-index:10;
}

#login 
{
	text-align: center;
	margin-top: 350px;
}

.Login button
{
	height: 75px;
	width: 100px;
}
